<div fxLayout="row" fxLayoutAlign="space-evenly none" class="container">
  <div fxLayout="column">
    <select>
      <option value="1" selected>Mensual</option>
      <option value="2" disabled>Anual</option>
    </select>
    <br />
    <div class="calendar-container" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon class="play-arrow-left-calendar">play_arrow</mat-icon>
        <h1>Febrero 2023</h1>
        <mat-icon class="play-arrow-right-calendar">play_arrow</mat-icon>
      </div>
      <br />
      <br />
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <h5>DOM</h5>
        <h5>LUN</h5>
        <h5>MAR</h5>
        <h5>MIE</h5>
        <h5>JUE</h5>
        <h5>VIE</h5>
        <h5>SAB</h5>
      </div>
      <br />
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>28</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar insulina"></div>
            <div class="items-calendar saturacion"></div>
            <div class="items-calendar peso"></div>
            <div class="items-calendar glucometria"></div>
          </div>


        </div>
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>29</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar peso"></div>
          </div>


        </div>
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>30</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>1</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar peso"></div>
            <div class="items-calendar glucometria"></div>
          </div>


        </div>
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>2</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>

        </div>
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>3</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar presion"></div>
          </div>


        </div>
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>4</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>

        </div>


      </div>
      <br/>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>5</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>

        </div>
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>6</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar insulina"></div>
            <div class="items-calendar peso"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>7</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>

        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>8</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar insulina"></div>
            <div class="items-calendar saturacion"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar peso"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>9</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar peso"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>10</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>11</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
          </div>


        </div>

      </div>
      <br/>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>12</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar insulina"></div>
            <div class="items-calendar saturacion"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar glucometria"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>13</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>14</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar insulina"></div>
            <div class="items-calendar saturacion"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar peso"></div>
            <div class="items-calendar glucometria"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>15</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar peso"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>16</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar peso"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>17</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>18</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>


      </div>
      <br/>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>19</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>20</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar insulina"></div>
            <div class="items-calendar saturacion"></div>
            <div class="items-calendar peso"></div>
            <div class="items-calendar glucometria"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>21</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>22</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar insulina"></div>
            <div class="items-calendar saturacion"></div>
            <div class="items-calendar peso"></div>
            <div class="items-calendar glucometria"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>23</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>24</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar insulina"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>25</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

      </div>
      <br/>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>26</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>27</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar medicamento"></div>
            <div class="items-calendar presion"></div>
            <div class="items-calendar peso"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>28</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>29</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>30</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">
            <div class="items-calendar insulina"></div>
            <div class="items-calendar saturacion"></div>
            <div class="items-calendar peso"></div>
            <div class="items-calendar glucometria"></div>
          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>31</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

        <div class="number-calendar" fxLayout="row" fxLayoutAlign="center center">
          <h6>1</h6>
          &nbsp;
          <div fxLayout="column" fxLayoutAlign="space-evenly" class="container-items-calendar">

          </div>


        </div>

      </div>


    </div>


  </div>
  <div>

  </div>
</div>
