.button-primary,
.button-back {
  width: 154px;
  height: 33px;
}

.div-hora,
.div-minuto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57.5px;
  height: 57.5px;
  background-color: #B3CCBF;
  color: 4C6358;
  cursor: pointer;
}

.p-hora {
  font-size: xx-large;
  color: #4C6358;
  margin-bottom: 0px;
}

.p-puntos {
  font-size: xxx-large;
  color: #2AA379;
  margin-bottom: 0px;
}


.item-label{
  width: 276.5px;
  height: 24.5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #B3CCBF;
  color: #4C6358;
  cursor: pointer;

}
p{
  margin-bottom: 0px;
}

.div-imagen{
  width: 75px;
  height: 75px;
  background-color: #FFDAD6;
  cursor: pointer;
}

.label-fondo{
  font-size: large;
}

mat-icon{
  transform: scaleX(-1) ;
  cursor: pointer;
}
