<div fxLayout="column" fxLayoutAlign="space-between none" class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon class="chevron" routerLink="/home">chevron_left</mat-icon>
    <h3>Estadísticas por tipo de alarma</h3>
    <span></span>

  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <span></span>
    <div fxLayout="column" fxLayoutAlign="space-around none" >

      <img src="assets/imagenes/grafica.png" alt="Imagen grafica ejemplo">
      <br/>
      <br/>

      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="item-calendario medicamento"></div>
            &nbsp;&nbsp;&nbsp;
            <h3>Medicamento</h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="item-calendario presion">
              <mat-icon>check</mat-icon>
            </div>
            &nbsp;&nbsp;&nbsp;
            <h3>Presión</h3>
          </div>

        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="item-calendario insulina"></div>
            &nbsp;&nbsp;&nbsp;
            <h3>Insulina</h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="item-calendario peso">
              <mat-icon>check</mat-icon>
            </div>
            &nbsp;&nbsp;&nbsp;
            <h3>Peso</h3>
          </div>


        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="item-calendario saturacion">
              <mat-icon>check</mat-icon>
            </div>
            &nbsp;&nbsp;&nbsp;
            <h3>Saturación de O<sub>2</sub></h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="item-calendario glucometria"></div>
            &nbsp;&nbsp;&nbsp;
            <h3>Glucometría</h3>
          </div>

        </div>

      </div>
      <br/>
      <br/>
      <br/>
      <br/>

    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="item-label">
        <span></span>
        <p class="label">Mensual</p>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
      <img class="imagen-esquina" src="assets/imagenes/esquina.png" alt="Imagen esquina ejemplo">

    </div>

  </div>
</div>
